#main {
	line-height: 130%;
    margin-left: 0px; /* 左側マージンを自動的に空ける */
    margin-right: 100px; /* 右側マージンを自動的に空ける */
    text-align: left; /* 中身を左側表示に戻す */
    width: auto; /* 幅を決定する */
}

table {

}

table.titleTable {

    border: double 0px #000000;
    font-size: 23px;
    background-color: #fffad2;
    text-align: left;
}

table.titleTable2 {

    border: double 0px #ffd760;
    font-size: 23px;
    background-color: #ffd760;
    text-align: left;
}

table.bodyTable {
padding 10px 10px 10px 10px;
    border: double 0px #000000;
    font-size: 13pt;
    background-color: #fffad2;
    text-align: reft;
    width: 100%;
}

table.topTable {
	padding 10px 10px 10px 10px ;
    border: double 0px #000000;
    font-size: 13pt;
    background-color: #fffad2;
    text-align: left;
    margin-right: 0px; /* 右側マージンを自動的に空ける */
	width: 100%;
}

table.innerTable {
	padding 10px 10px 10px 10px ;
    border: double 0px #000000;
    font-size: 13pt;
    background-color: #fffad2;
    text-align: left;
	width: 100%;
    margin-right: 0px; /* 右側マージンを自動的に空ける */
}

table.personaiDate {
    font-size: 10pt;
    background-color: #fffad2;
    text-align: center;
}

table.copyLight {
    font-size: 10pt;
    background-color: #d4d0c8;
    text-align: center;
}

.mytd1 {
	font-size: 13pt;
    background-color: #fffad2;
    text-align: center;
    text-valign: middle;
    width: 20%;
    border: 1px #ffd760 solid;
}

.mytd2 {
    background-color: #ffffff;
    text-valign: middle;
    text-align: left;
    width: 80%;
    border: 1px #ffd760 solid;
}


table.mytable1 {
    border: 0px #000000 solid;
    border-collapse: 0px;
    border-spacing: 0px;
}

body {
    margin: 0px; /* ページ全体のmargin */
    padding: 0px; /* ページ全体のpadding */
    text-align: left; /* 下記のautoに未対応用のセンタリング */
    background-color: #59b200;
}

.type1 {
    font-size: 20px;
    padding: 3px 5px;
    /* border-color: #ff8c00;*/
    /*border-width: 1px 1px 1px 7px;*/
    border: double 0px #000000;
    background: #ffd760;
}

table.personalInformationProtection {
    background-color: #fffad2;
    text-align: center;
    text-valign: middle;
    border: 0px #000000 solid;
}
